.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group< 
            =link_to "/" do
              = fa_icon 'edit'
          %li.side-header__box__menu__edit-user<
            =link_to edit_user_path(current_user) do
              = fa_icon 'cog'
    .groups
      =link_to "/" do
        .group
          %p.group__group-name sample-group
          %p.group__lastest-message hello
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__leftbox__current-group sample-group
        %ul.main-header__left-box__member-list 
          Member :
          %li.main-header__left-box__member-list__member  user
      =link_to "/" do
        .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker< user
          %p.message__upper-info__date< 2019/11/05
        %p.message__text< hello
    .form
      %form.new_message#new_message
        %input{name: "utf8", type: "hidden", value: ""}
        %input{type: "hidden", name: "authenticity_token", value: ""}
        .input-box
          %input{placeholder: "type a message", class: "input-box__text", type: "text", name: "message[content]", id: "message_content"}
          %label{class: "input-box__image", for: "message_image"}
            = fa_icon 'image'
            %input{class: "input-box__image__file", type: "file", name: "message[image]" ,id: "message_image"}
        %input{type: "submit", name: "commit", value: "Send", class: "submit-btn"}
